@import 'style/_colors.scss';
@import 'style/_variables.scss';

.loading {
  background: $transparent-overlay;
  padding:0;
  margin:0;
  position:fixed !important;
  z-index: 99999 !important;

  top:0;
  left:150px !important;

  width: 10% !important;
  height: 10% !important;

    img {
      display: block;
      margin-bottom: 16px;
      margin-left: 21vw;
    }
}