@import 'style/_colors.scss';
@import 'style/_variables.scss';

.card {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: $regular-spacing * 5;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px $card-shadow;
  -moz-box-shadow:    0px 3px 6px $card-shadow;
  box-shadow:         0px 3px 6px $card-shadow;

  .card-top {
    height: $medium-spacing * 25;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    border-radius: 25px 25px 0px 0px;
    
    .card-header-desc {
      padding: $big-spacing;
      color: white;
      position: absolute;
      bottom: 0;
      
      p {
        &.header {
          font-weight: bold;
        }
        margin-bottom: 0px;
      }
    }
        
    &.video {
      text-align: center;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 10%;
        height: $medium-spacing * 8;
      }
    }
  }
  .card-top.card-top-video {
    height: $medium-spacing * 35;
  }
  
  .card-body {
    color: $lighter-text;
    padding: $big-spacing;

    &.card-body-video {
      height: $medium-spacing * 14 !important;
    }
    .schedules {
      
      .unavailable {
        padding-top: $regular-spacing;
        text-align: center;
        cursor: pointer;

        p {
          color: $lighter-text !important;
        }
      }

      .available {
        padding-top: $regular-spacing;
        text-align: center;
        cursor: pointer;

        p {
          color: $green-color !important;
        }
      }
      
      button {
        padding: 0 !important;
      }
    }

    .description {
      height: $medium-spacing * 5;
    }
  }
}

.card:hover,
.card:active,
.card:focus{
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px $card-hover;
  -moz-box-shadow: 0px 3px 6px $card-hover;
  box-shadow: 0px 3px 6px $card-hover;
}